<?xml version="1.0"?>
<!-- 
MIT License

@file      jimmbot_sensors.launch
@author    Mergim Halimi (m.halimi123@gmail.com)
@copyright Copyright (c) 2021, mhRobotics, Inc., All rights reserved.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
 -->
<launch>

  <!-- Lidar -->
  <include file="$(find ydlidar_ros)/launch/lidar.launch" />

  <!-- Imu -->
  <arg name="razor_config_file" default="$(find razor_imu_9dof)/config/razor.yaml"/>
  <node pkg="razor_imu_9dof" type="imu_node.py" name="imu_node" output="screen">
    <rosparam file="$(arg razor_config_file)" command="load"/>
  </node>

  <!-- Kinect Front -->
  <include file="$(find openni_launch)/launch/openni.launch" >
    <arg name="camera" value="kinect_front" />
    <arg name="device_id" value="B00367726232107B" />
    <arg name="publish_tf" value="true" />
  </include>

  <node pkg="tf" type="static_transform_publisher" name="physical_kinect_to_model_front"
    args="-0.18 0.0 0.1 0.0 0.0 0.0 /kinect_front_link /kinect_front_depth_frame 40" />

  <!-- Kinect Back -->
  <include file="$(find openni_launch)/launch/openni.launch" >
    <arg name="camera" value="kinect_back" />
    <arg name="device_id" value="A00365927030043A" />
    <arg name="publish_tf" value="true" />
  </include>

  <node pkg="tf" type="static_transform_publisher" name="physical_kinect_to_model_back"
    args="-0.18 0.0 0.1 0.0 0.0 0.0 /kinect_back_link /kinect_back_depth_frame 40" />

</launch>
